*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
}

header{
    padding: 20px;
    background-color: #f63232;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header h1{
    color: white;
    display: inline-block;
    border: 10px solid white;
    border-radius:40px;
    padding: 6px 12px;
}

.imageone{
    position: relative;
}

.imageone img{
    width: 100%;
    max-width: 100%;
}

.imageone .welcome{
    position: absolute;
    top: 40%;
    left: 0;
    background-color: #f63232;
    color: white;
    padding: 30px;
}

.imageone h2{
    font-size: 40px;
}

.imageone h2 span{
    font-size: 1.2em;
}
nav{
    background-color: #f4f4f4;
    padding: 24px;
    position: sticky;
    top: 100px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    display: inline-block;
    width: 25%;
    font-size: 25px;
}

nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav li a.signup{
    color: #f63232;
}
main{
    max-width: 100%;
    margin: 80px 10px;
}

article h2{
    color: #f63232;
    font-size: 48px;
    text-align: center;
}

article p{
    line-height: 25px;
    text-align: center;
    width: 60%;
    margin: 20px auto 0;
}
.images{
    margin: 10px;
    text-align: center;
}
.images li{
    display: inline-block;
    width: 20%;
    margin: 60px 5%;
}

.images li img{
    max-width: 100%;
}

.join{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
.join h2{
    font-size: 36px;
}
.join p{
    margin-top: 10px;
}

.join form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.submit-btn {
    background-color: #f63232;
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    color: #f4f4f4;
    font-size: 20px;
    cursor: pointer;
}

form input{
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    border: 4px solid white;
    border-radius: 28px;
}

footer{
    background-color: #f63232 ;
    color: white;
    padding: 20px;
    text-align: center;
}


/*pseudo selector*/
nav li a:hover{
    text-decoration: underline;
}

/* form input:valid*/
{
    border: 2px solid rgb(117, 217, 117);
} 

/* pseudo elements */
article p::first-line{
    font-weight: bold;
    font-size: 20px;
}

p::selection{
    background-color: red;
    color: black;
}

@media screen and (max-width: 500px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        width: 100%;
    }
    header{
        position: static;
    }
    .banner{
        position: static;
    }
    nav{
        position: static;
    }
    nav li{
        display: block;
        font-size: large;
    }
    .banner .welcome{
        position: static;
        text-align: center;
        background-color: #f63232;
        color: white;
        padding: 10px;
        width: 100%;
    }
    .banner .welcome br{
        display: none;
    }
    .banner h2{
        font-size: 20px;
    }
    
    .banner h2 span{
        font-size: 1.2em;
    }
    .images{
        /* margin: 10px; */
        text-align: center;
        margin: 0px;
    }
    .images li{
        display: block;
        margin: 0;
        width: 100%;
    }
    .images li img{
        max-width: 80%;
    }
    main{
        margin: 50px 20px;
    }
    .join form {
        width: 310px;
        margin: 0 auto;
        /* width: 100%; */
    }
}
